section#contact-info {
  position: fixed;
  top: 0px;
  right: 0px;
  text-align: center;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  padding: 20px;
}

h1#resume-title {
  margin-top: 70px;
}


/* We use the last-of-type selector
to avoid the appearance of an extra
border. */

section#contact-info p:last-of-type {
  border-right: none;
}